/* General Styling */

/* Asterisk == everything */
* {
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
    box-sizing: border-box !important; /* Opera/IE 8+ */
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

#hamburger {
    display: none;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    border: none;
    color: black;
    cursor: pointer;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.officer-intro {
    padding: 40px 5% 0 5%;
    background-color: white;
    bottom: 30px;
    position: relative;
}

.officer-intro h3 {
    text-align: center;
    color: black;
    display: block;
    font-size: 1.76em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.header h1 {
    text-transform: uppercase;
    font-size: 88px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* Navbar */

.navbar-connect {
    background-color: white;
    padding: 7px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 9px;
}
  
.navbar-connect li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
    font-size: 17px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}
  
.navbar-link {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    border: none;
    color: black;
  
    /* For the hover effect */
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.6s ease-in-out;
}

.navbar-link:hover {
    border-bottom: 2px solid grey;
}

.navbar-main {
    /* This allows the navbar to sit on top of the homepage content */
    position: absolute; 
    
    display: grid;
    grid-template-columns: repeat(6, auto) 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;


    width: 100vw;
    background-color: white;
    z-index: 4;
    padding: 20px 20px 20px 40px;
    min-height: 107px;
}

@media only screen and (min-width: 760px) {
    .dropdown {
        position: relative;
        display: inline-block;
    }
  
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
  
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }
  
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

.navbar-hidden {
    top: 85px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 30;
    padding-bottom: 15px;
}
  
.navbar-hidden-link {
    width: 100vw;
    height: 50px;
    display: inline-block;
}
  
.navbar-hidden a {
    margin-left: 80px;
    text-align: left;
    display: inline-block;
}
  
@media only screen and (min-width: 800px) {
    .navbar-hidden {
      display: none !important;
    }
}

#hamburger {
    display: none;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    border: none;
    color: black;
    cursor: pointer;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

/* SASE Committees - Labels and Images */

/* Adjusting for the Top NavBar */
.sase-officer-header-label {
    top: 40px;
}

.sase-officer-header-label, 
.sase-officer-committee-header-label {
    color: #283238;
    position: relative;
    height: 800px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    color: #283238;
    align-items: flex-end;
    border: 90px solid #283238;
    padding: 7% 7%;
    padding: 40px 5% 0 5%;
}

.sase-officer-header-label h1, 
.sase-officer-committee-header-label h1 {
    text-transform: uppercase;
    font-size: 100px;
    color: white;
    text-align: left;
}
  
.content-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.officers {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
    grid-gap: 30px;
    border: 50px solid white;
}

/* Card CSS */

.card, .card-2 {
    height: 100%;
    background-color: #283238;
    box-shadow: 0 3px 9px rgba(0,0,0,0.22), 0 3px 6px rgba(0,0,0,0.54);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1), height 0.6s cubic-bezier(.25,.8,.25,1);
}

.card-2:hover {
    height: 100%;
    background-color: pink;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.card-content {
    padding: 30px;
}

.card-content-2 {
    padding: 20px 5px;
}

.card h2, .card-2 h2, .card-2 h3 {
    text-align: center;
}

.card-2 h2, .card-2 h3 {
	color: white;
    margin: 7px 0;
}

.card-2 h3, .card-2 p {
    color: grey;
    text-align: center;
}

.card-2 h3 {
    font-style: italic;
}

.card-img {
    width: 100%;
    height: auto;
}


/* Footer */

footer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-items: left;
    grid-gap: 20px;
    padding: 20px 40px;
    position: relative;
    bottom: 0;
    background-color: #f2f3f3;
    color: #9ba1a6;
    border-top: 1px solid #bdc1c4;
    font-weight: 700;
}

footer a {
    color: #9ba1a6;
}

footer a:hover {
    text-decoration: underline;
}

/* Setting Displayed VT SASE Group Committee Images */

#sase-overview.sase-officer-header-label {
    padding: 40px 5% 0 5%;
    background: url('/assets/img/officers/2022-2023/officer-photos-compressed-smaller/OFFICERS.jpg') no-repeat left 20%;
    background-size: cover;
}

#sase-leads.sase-officer-committee-header-label {
    background: url('/assets/img/officers/2022-2023/officer-photos-compressed-smaller/LEADS.jpg') no-repeat left 100%; 
    background-size: cover;
}

#sase-logistics.sase-officer-committee-header-label {
    background: url('/assets/img/officers/2022-2023/officer-photos-compressed-smaller/LOGISTICS.jpg') no-repeat center 100%;
    background-size: cover;
}

#sase-internal.sase-officer-committee-header-label {
    background: url('/assets/img/officers/2022-2023/officer-photos-compressed-smaller/INTERNAL_2.jpg') no-repeat left 100%;
    background-size: cover;
}

#sase-external.sase-officer-committee-header-label {
    background: url('/assets/img/officers/2022-2023/officer-photos-compressed-smaller/EXTERNAL.jpg') no-repeat left 100%; 
    background-size: cover;
}

#sase-media.sase-officer-committee-header-label {
    background: url('/assets/img/officers/2022-2023/officer-photos-compressed-smaller/MEDIA.jpg') no-repeat left 100%; 
    background-size: cover;
}
