/* general styles */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Asterisk == everything */
* {
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
  box-sizing: border-box !important; /* Opera/IE 8+ */
}

#hello {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 100vh;
}

.img-parent {
  /* border: 3px solid gold; */
  width: 100%;
  height: 100vh;
}

.s-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sase {
  width: 100%;
  height: 100vh;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.header {
  height: 300px;
  width: 100vw;
  padding: 0 7%;
  display: flex;
  justify-items: left;
  color: #fff;
  align-items: flex-end;
}

.header h1 {
  text-transform: uppercase;
  font-size: 56px;
}

/* Navbar */

.navbar-connect {
  background-color: white;
  padding: 7px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 9px;
}

.navbar-connect li {
  list-style: none;
  display: inline-block;
  margin: 0 12px;
  vertical-align: middle;
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}

/* .navbar-text {
} */

/* 
.left-link {
    background-color: #fff;
} */

.navbar-link {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  border: none;
  color: black;

  /* For the hover effect */
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.6s ease-in-out;
}
.navbar-link:hover {
  border-bottom: 2px solid grey;
}

#hamburger {
  display: none;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  border: none;
  color: black;
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.navbar-main {
  /* This allows the navbar to sit on top of the homepage content */
  position: absolute;

  display: grid;
  grid-template-columns: repeat(6, auto) 1fr auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;

  width: 100vw;
  background-color: transparent;
  z-index: 4;
  padding: 20px 20px 20px 40px;
  min-height: 107px;
}

footer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  justify-items: left;
  grid-gap: 20px;
  padding: 20px 40px;
  position: relative;
  bottom: 0;
  background-color: #f2f3f3;
  color: #9ba1a6;
  border-top: 1px solid #bdc1c4;
  font-weight: 700;
}

footer a {
  color: #9ba1a6;
}

footer a:hover {
  text-decoration: underline;
}

/* Home Page styles */

.button {
  background-color: #0668b3;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  height: 40px;
  padding: 0 15px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: border ease-in 0.3s, background-color ease-in 0.3s;
  margin: 6px 3px;
}

.button:hover {
  background-color: #6cabdd;
  /* border: 1px solid #6cabdd; */
}

#home_page {
  display: grid;
  grid-template-columns: 43vw 57vw;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

#home_page > div {
  height: 100%;
  width: 100%;
}

#home_page_bio {
  /* This is so the navbar doesn't intersect the text resizing vertically */
  padding-top: 107px !important;
  padding-bottom: 107px !important;

  padding: 0 10%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

#home_page_bio_text {
  color: #000;
  font-size: 24px;
  text-align: center;
}

/* .slideshow {
  background-image: url("/img/slideshow/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-transition: background-image 1s linear;
  transition: background-image 1s linear;
  background-color: transparent;
} */

.carousel {
  height: 100%;
  overflow: hidden;
}

.carousel-container {
  font-size: 0;
  width: 1000%;
  height: 100%;
  left: 0;
  position: relative;
  animation: 60s carousel infinite;
}

.carousel-img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

@keyframes carousel {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }

  11% {
    left: -100%;
  }
  21% {
    left: -100%;
  }

  22% {
    left: -200%;
  }
  33% {
    left: -200%;
  }

  34% {
    left: -300%;
  }
  44% {
    left: -300%;
  }

  45% {
    left: -400%;
  }
  55% {
    left: -400%;
  }

  56% {
    left: -500%;
  }
  66% {
    left: -500%;
  }

  67% {
    left: -600%;
  }
  77% {
    left: -600%;
  }

  78% {
    left: -700%;
  }
  88% {
    left: -700%;
  }

  89% {
    left: -800%;
  }
  99% {
    left: -800%;
  }

  100% {
    left: -900%;
  }
}

/* About Page Styles */

/* .overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.1;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
} */

.bio {
  width: 80%;
  font-size: 18px;
}

.idk {
  height: 107px;
  width: 100vw;
  background-color: white;
}

.content {
  padding: 20px 7%;
  display: grid;
  grid-template-columns: 1.4fr 3fr;
  align-items: center;
  grid-template-rows: auto;
  grid-gap: 20px;
  border: 20px solid white;
}

.page-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card,
.card-2 {
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    height 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 102%;
}

.card-content {
  padding: 30px;
}

.card-content-2 {
  padding: 20px 5px;
}

.card h2,
.card-2 h2,
.card-2 h3 {
  text-align: center;
}

.card-2 h2,
.card-2 h3 {
  margin: 7px 0;
}

.card-content-2 h3,
.card-2 p {
  color: grey;
}

.card-2 h3 {
  font-style: italic;
}

.card-img {
  width: 100%;
  height: 40%;
  object-fit: contain;
}

/* Event Page Styles */

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 20vw;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .gallery a:hover {
  color: grey;
} */

.gallery-section {
  position: relative;
  background-color: skyblue;
}

.gallery-section p {
  display: block;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  color: white;
  margin-bottom: 0;
  padding: 10px 7px;
}

@media only screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 40vw;
  }
}

@media only screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: 80vw;
  }
}

/* #footer {
    justify-self: left !important;
    align-self: end !important;
} */

.fadeIn-top {
  top: 20%;
}

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content2 {
  position: relative;
  width: 100%;

  /* margin: auto; */
  overflow: hidden;
}

.content2 .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content2:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content2:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  /* text-transform: uppercase; */
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.officers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 15%;
  grid-gap: 30px;
  border: 50px solid white;
}

@media only screen and (max-width: 1250px) {
  .officers {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 1100px) {
  #home_page {
    grid-template-columns: 1fr;
    grid-template-rows: 80vw 1fr;
  }

  .about {
    margin-top: 107px;
    grid-row: 2 !important;
    padding: 40px 60px 40px 60px;
  }

  .slideshow {
    margin-top: 107px;
    grid-row: 1;
  }

  .navbar-main {
    background-color: white;
  }

  .content,
  .sponsor-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .bio {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .content,
  .sponsor-content {
    grid-template-rows: repeat(4, auto);
  }

  .navbar-main {
    padding-right: 28px;
  }

  .navbar-connect {
    padding-right: 0;
  }

  .sponsors {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .bio {
    padding: 40px 0;
  }

  .page-content {
    grid-template-columns: 1fr;
  }

  .officers {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  #hamburger {
    display: block;
  }

  .navbar-main {
    grid-template-columns: auto auto 1fr auto;
  }

  .left-link {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .officers {
    grid-template-columns: 1fr;
  }

  .sponsors {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.navbar-hidden {
  top: 85px;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 30;
  padding-bottom: 15px;
}

.haha {
  width: 100vw;
  height: 50px;
  display: inline-block;
}

.navbar-hidden a {
  margin-left: 80px;
  text-align: left;
  display: inline-block;
}

@media only screen and (min-width: 800px) {
  .navbar-hidden {
    display: none !important;
  }
}

.event-content {
  position: relative;
  height: 0;
  width: 80%;
  padding-bottom: 50%;
}

.event-content iframe {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100%;
}

.collage {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 10px;
}

.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 34, 37, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 13px;
  margin-left: 10px;
  margin-right: 10px;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
  }
}

.alumni-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  justify-content: start;
  margin: auto;
  padding: 70px 0;
  text-align: center;
  width: 50%;
}

@media only screen and (min-width: 760px) {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
