.sponsors-section {
    padding-bottom: 35px;
    text-align: center;
    font-family: aesthet-nova, serif;
    background-color: #ebf0ed;
    color: white;
}

.sponsors-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sponsors-section h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
}

.sponsors-section h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
    letter-spacing: 0.5px;
}

.diamond-logo,
.gold-logo,
.bronze-logo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #6b8f7a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    padding: 13px;
    object-fit: contain;
    margin-right: 20px;
}

.diamond-logo:hover,
.gold-logo:hover,
.bronze-logo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.gold-logo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #88a192;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    padding: 13px;
    object-fit: contain;
    margin-right: 20px;
}
.bronze-logo{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #a4bbad;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    padding: 13px;
    object-fit: contain;
    margin-right: 20px;
} 